<div
  class="my-achievements-container flex flex-col justify-center items-center mt-5"
>
  <div class="title-div my-5">
    <h2 class="font-bold text-xl">My Achievements</h2>
  </div>
  {{! <div class="game-images-container flex flex-row my-10">
    <img
      src="/images/The Witcher- Enhanced Edition (1).png"
      src="/images/The Witcher- Enhanced Edition (1).png"
      alt="the witcher game logo"
      class="mx-5 achievement-name-container"
    />
    <img
      src="/images/Fallout- New Image.jpeg"
      src="/images/Fallout- New Image.jpeg"
      alt="the witcher game logo"
      class="game-image mx-5"
    />
    <img
      src="/images/Europe Universalis IV.jpeg"
      src="/images/Europe Universalis IV.jpeg"
      alt="the witcher game logo"
      class="game-image mx-5"
    />
    <img
      src="/images/sid meier's civilization v.jpeg"
      src="/images/sid meier's civilization v.jpeg"
      alt="the witcher game logo"
      class="game-image mx-5"
    />
    <img
      src="/images/Stranded Deep.jpeg"
      src="/images/Stranded Deep.jpeg"
      alt="the witcher game logo"
      class="game-image mx-5"
    />
    <img
      src="/images/Cities- Skylines.jpeg"
      src="/images/Cities- Skylines.jpeg"
      alt="the witcher game logo"
      class="mx-5 game-image"
    />
    <img
      src="/images/Battle Brothers.jpeg"
      src="/images/Battle Brothers.jpeg"
      alt="the witcher game logo"
      class="mx-5"
    />
    <img
      src="/images/Hollow Knight.jpeg"
      src="/images/Hollow Knight.jpeg"
      alt="the witcher game logo"
      class="mx-5"
=======
      src="/images/Battle Brothers.jpeg"
      alt="Battle Brothers game logo"
      class="game-image mx-5"
    />
    <img
      src="/images/Hollow Knight.jpeg"
      alt="Holly Knight game logo"
      class="game-image mx-5"
>>>>>>> Stashed changes
    />
  </div> }}
  {{#each renderAchievements as |achievement|}}
    <div
      class="achievement-name-container flex border rounded bg-white shadow-lg p-3 my-2 mx-5" data-id={{achievement.id}}
    >
      <h4 data-id={{achievement.id}}>Game Name: {{achievement.gamename}} </h4>
      <h4 data-id={{achievement.id}}>Achievement Name: {{achievement.name}}</h4>
      <img
        data-id={{achievement.id}}
        src={{achievement.url}}
        alt="Holly Knight game logo"
        class="game-image mx-5"
      />
    </div>
  {{/each}}
</div>

<script src="/js/add-feedback.js"></script>