<!-- main container  -->
<div class="container mx-auto bg-white shadow-lg rounded-lg px-5 mt-40">

    <!-- container for random picker  -->
    <section class="random-generator-container border-b-2 pt-3 pb-3">
        <div>
            <h3 class="flex justify-center text-xl font-semibold mt-10 pb-2 pt-4">
                Not sure what to play next?
            </h3>
            <div class="flex justify-center pb-3">
                <button type="submit" class="generator-btn bg-indigo-500 hover:bg-violet-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Help me pick a game</button>
            </div>
        </div>
    </section>
    
    <h2 class="flex justify-center text-xl font-semibold mt-10">Select from one of your games:</h2>
    <!-- container for owned game picker  -->
    <section class="owned-games-container grid grid-cols-2 gap-4 m-3 mb-12 p-6">

        <div class="card1 border rounded bg-white shadow-lg p-3" data-appid="{{randomGames.game1appid}}">
            <div data-appid="{{randomGames.game1appid}}">
                <h4 data-appid="{{randomGames.game1appid}}" class="game1">{{randomGames.game1}}</h4>
                <img data-appid="{{randomGames.game1appid}}" src={{randomGames.game1url}} alt="Game Image" class="dashboard-game-image" style="width:50%;height:50%" />
            </div>
        </div>

        <div data-appid="{{randomGames.game2appid}}" class="card2 border rounded bg-white shadow-lg p-3">
            <div data-appid="{{randomGames.game2appid}}">
                <h4 data-appid="{{randomGames.game2appid}}" class="game2">{{randomGames.game2}}</h4>
                <img src={{randomGames.game2url}} alt="Game Image" class="dashboard-game-image" data-appid="{{randomGames.game2appid}}" style="width:50%;height:50%" />
            </div>
        </div>

        <div data-appid="{{randomGames.game3appid}}" class="card3 border rounded bg-white shadow-lg p-3">
            <div data-appid="{{randomGames.game3appid}}">
                <h4 data-appid="{{randomGames.game3appid}}" class="game3">{{randomGames.game3}}</h4>
                <img src={{randomGames.game3url}} alt="Game Image" class="dashboard-game-image" data-appid="{{randomGames.game3appid}}" style="width:50%;height:50%" />
            </div>
        </div>

        <div data-appid="{{randomGames.game4appid}}" class="card4 border rounded bg-white shadow-lg p-3">
            <div data-appid="{{randomGames.game4appid}}">
                <h4 data-appid="{{randomGames.game4appid}}" class="game4">{{randomGames.game4}}</h4>
                <img data-appid="{{randomGames.game4appid}}" src={{randomGames.game4url}} alt="Game Image" class="dashboard-game-image" data-appid="{{randomGames.game4appid}}" style="width:50%;height:50%" />
            </div>
        </div>
    </section>

</div>
    <script src="/js/dashboard.js"></script>